/PortfolioTracker.WebApi/PortfolioTracker.WebApi/bin/Debug/netcoreapp2.0
/PortfolioTracker.WebApi/.vs/PortfolioTracker.WebApi/v15/*.suo
/PortfolioTracker.WebApi/.vs/PortfolioTracker.WebApi/v15/Server/sqlite3
/PortfolioTracker.WebApi/PortfolioTracker.WebApi/obj/Debug/netcoreapp2.0
/PortfolioTracker.WebApi/PortfolioTracker.WebApi/obj
/PortfolioTracker.WebApi/.vs/config
/PortfolioTracker.WebApi/PortfolioTracker.WebApi/*.user
